/* put stuff here */
#logo {
    width: 200px;
    height: 200px;
    margin: 90px auto;
    background: #666;
    color: #FFF;
    text-align: center;
    line-height: 200px;
    font-size: 120px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
